:root { /* references for colors */
    --blue: rgb(58, 152, 185);
    --darkblue: rgb(20, 40, 80);
    --cream: rgb(255, 241, 220);
    --sand: rgb(232, 213, 196);
    --wetsand: rgb(173, 142, 112);
    --offwhite: rgb(238, 238, 238);
    --yellow: rgb(255, 201, 60);
}
body { /* primary page styling */
    background-color: var(--cream);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Zen Dots', cursive;
}
header { /* primary header styling */
    background-color: var(--blue);
    color: var(--offwhite);
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
#title { /* styling fo the title of page */
    width: 60%;
    font-size: 300%;
    color: var(--yellow);
    text-align: center;
    background: radial-gradient(circle, var(--darkblue) 0%, var(--blue) 100%);
    border-radius: 900px;
    padding: 25px;
}
#scores-space { /* styling for the link to the high scores */
    width: 20%;
    text-align: center;
    align-items: center;
    border-color: var(--offwhite);
    padding: 5px;
    border: 3px;
}
#highScores { /* styling for high scores button */
    padding: 10px 15px;
    border: 0px;
    border-radius: 25px;
    background-color:  var(--blue);
    color: var(--offwhite);
    font-size: 16px;
    font-weight: 900;
    font-family: 'Zen Dots', cursive;
}
#highScores:hover { /* styling for high scores button hover */
    padding: 10px 15px;
    border: 0px;
    border-radius: 25px;
    background-color:  var(--offwhite);
    color: var(--blue);
    font-size: 18px;
    font-weight: 900;
}
#score { /* styling for the score timer section*/
    width: 20%;
    font-size: 16px;
    text-align: center;
    align-items: center;
}
#timer {
    font-size: 48px;
    margin-top: -7px;
}
main { /* styling for the main content for the quiz */
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
#rules { /* styling for the rules box */
    width: 20%;
    min-height: 375px;
    flex-wrap: wrap;
    background-color: var(--wetsand);
    color: var(--sand);
    border-radius: 25px;
    align-self: flex-start;
}
#rules h2 { /* styling for rules heading */
    text-align: center;
}
#rules ul { /* styling for rules list */
    width: 85%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#rules ul li { /* styling to  */
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: justify;
}
.ruleemphasis { /* styling to call emphasis to incorrect answer penalization */
    text-decoration: underline;
}
#quiz { /* styling for the space to take the quiz */
    width: 80%;
    min-height: 375px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--wetsand);
    color: var(--sand);
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
}
#questionText { /* styling for the questions to be asked */
    width: 85%;
    text-align: justify;
}
.startBtn { /* styling for start button */
    font-family: 'Zen Dots', cursive;
    font-size: 200%;
    color: var(--yellow);
    background-color: var(--wetsand);
    padding: 25px 50px;
    border: 0px;
    border-radius: 50px;
}
.startBtn:hover { /* styling for start button */
    font-family: 'Zen Dots', cursive;
    font-size: 200%;
    color: var(--wetsand);
    background-color: var(--yellow);
    padding: 25px 50px;
    border: 0px;
    border-radius: 50px;
}
.hide { /* styling for class toggle visibility of elements */
    display: none;
}